<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854827781022-ns9r2nv4degf7qbgenrog8fs2jdhvuvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854827781022-ns9r2nv4degf7qbgenrog8fs2jdhvuvu</string>
	<key>API_KEY</key>
	<string>AIzaSyAzGELAu5P19T6htWlNV-6tB0u3rUqGK2s</string>
	<key>GCM_SENDER_ID</key>
	<string>854827781022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodfast</string>
	<key>PROJECT_ID</key>
	<string>fastfood-4b180</string>
	<key>STORAGE_BUCKET</key>
	<string>fastfood-4b180.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854827781022:ios:b19a8ed56bd35c44d0e48f</string>
	<key>DATABASE_URL</key>
	<string>https://fastfood-4b180-default-rtdb.firebaseio.com</string>
</dict>
</plist>